@import "nullstyle.scss";
body {
	margin: auto;
	display: flex;
	max-width: 1440px;
	flex-shrink: 1;
	min-width: 350px;
}
// .wrapper{
// 	display: flex;
// 	flex-direction: column;
// 	flex-shrink: 1;
// }
span {
	font-family: "Jost", sans-serif;
	font-size: 18px;
}
.span-header{
	padding: 0 20px;
}
.span-header-gold{
	padding: 0 20px;
	color: #CDA274;
}
.span-strelki{
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.72px;
}
h2{
font-size: 50px;
line-height: 65px;
letter-spacing: 0.22px;
}
h3{
	font-size: 45px;
line-height: 58px;
text-align: center;
letter-spacing: 0.22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #292f36;
	font-family: "DM Serif Display", serif;
}
h1 {
	margin: 0;
	font-size: 80px;
	letter-spacing: 0.22px;
}
.wrapper {
	align-items: center;
	align-content: center;
	max-width: 1440px;
	// display: grid;
	// grid-template-areas: "header", "body" "footer";
}
.header {
	padding: 26px 120px 18px 120px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-shrink: 1;
}
.header__left {
	display: flex;
	align-items: center;
	justify-content: center;
}
p {
	font-family: "Jost", sans-serif;
	font-size: 18px;
	margin: 30px 0;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0.22px;
	color: #4d5053;
}
.background {
	position: relative;
	text-align: center;
}
.background__content {
	position: absolute;
	top: 188px;
	left: 120px;
	display: flex;
	flex-direction: column;
	text-align: left;
	width: 600px;
	height: 385px;
}
.content__button {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 207px;
	padding: 20px 0px;
	color: white;
	background: #292f36;
	border: 2px solid #292f36;
	border-radius: 18px;
	letter-spacing: 0.72px;
}
	.descgrid {
		text-align: center;
		display: grid;
		grid-template-columns: repeat(auto-fill, 300px);
		//grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 140px;
		justify-content:center;
		padding: 0 120px;
	}
	.desccol {
		margin-top: 50px;
	}
	.spandesc {
	font-family: 'DM Serif Display';
	font-size: 25px;
	//text-align: center;
	letter-spacing: 0.22px;
	color: #292F36;
	}
	
	.callblock{
		width: 1200px;
		margin: 50px 120px 0 120px;
	
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.phone{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;  
	}
	.callblock__left{

		justify-content: center;
		align-content: center;
		align-self: center;
		padding-right: 100px;
	}
///////////////////////////
.peoplecontainer{
	margin: 120px 120px;
	padding: 0 22px;
	align-items: center;
	position: relative;
	background: #F4F0EC;
	border-radius: 70px;
	height: 675px;
}
	.peoplegrid{
		display: grid;
		gap: 18px;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: space-between;
	}
	.people	{
		padding: 50px 40px;
		align-items: center;
		align-content: center;
		justify-items: center;
		justify-content: center;
		width: auto;
		min-height: 354px;
		background: #FFFFFF;
		border-radius: 30px;
		
	}

	.peopleimg{
		display: block;
		width: 77px;
		height: 77px;
		border-radius: 50%;
	}
	.peopletop{
	
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 30px;

	}
.peopleright__p, .peopleright__span{
margin: 0 0 0 20px;
}

.peopleright__span{
	font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.22px;
color: #292F36;
}

h3{
padding: 100px 200px 40px 200px;
}
.company{
	margin: auto;
	max-width: 1200px;
	display: flex;
	justify-content: space-around;
}
.recentprojects__h3{
	padding: 100px 0 20px 0;
}
.recentprojects__p{
	width: 800px;
	margin: auto;
	text-align: center;
}
.projects__item {
	display: flex;
	flex-direction: column;
}
.projectscontainer {
	gap:60px 20px;
	margin: 75px auto;
	width: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.gold{
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 85px;
line-height: 128px;
//text-align: center;
letter-spacing: 1.7px;
color: #CDA274;

}
.quantity__item{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 288px;
	height: 195px;
	border-right: 1px solid #CDA274;
}

.quantity__item:last-child{
	border-right: none;
}

.quantity{
	padding:150px 150px;
	background: #F4F0EC;
	border-radius: 0px;
	width: 1440px;
	height: 475px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.pgold{
	text-align: center;
	justify-content: center;
}

.blog__item {
	position: relative;
	border: 1px solid #E7E7E7;
	border-radius: 62px;
	padding: 21px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	flex-shrink: 1;
}

.blogcontainer{
	gap:60px 20px;
	margin: 75px auto 100px;
	width: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.textonimg{

	padding: 10px 0 0 10px;
	width: 125px;
	min-height: 44px;
	display: flex;
	flex-grow: 1;
	background: #FFFFFF;
	border-radius: 8px 8px 8px 0px;
	position: absolute;
	bottom: 180px;
	left: 44px;
}
.darkblock{
	padding: 70px;
	text-align: center;
	margin: auto;
	background: #292F36;
	border-radius: 70px;
	width: 1200px;
	height: 414px;
}

.darkblock > span{

font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 75px;
text-align: center;
letter-spacing: 0.22px;
color: #FFFFFF;
}
.darkblock > p {
	color:#FFFFFF;
}

.darkblock__button{
	background: #CDA274;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	max-width: 207px;
	padding: 20px 0px;
	color: white;
	border: 2px solid #292f36;
	border-radius: 18px;
	letter-spacing: 0.72px;
}
.footer{
	width: 1440px;
	margin-top: 50px;
	padding: 50px;
	border-top:1px solid #E5E5E5;
	display: flex;
	justify-content: space-between;

}
.copyright{
	border-top:1px solid #E5E5E5;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}